@import "react-slideshow-image/dist/styles.css";

.slide-container-two {
  width: 40%;
}

.slide-container-one {
  width: 85%;
}

.grayscale-cleaned {
  filter: grayscale(100%);
}

.react-slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.each-fade {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.each-fade > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.each-fade > div > p {
  margin: 0;
  padding-top: 5px;
}

.leaflet-popup-content {
  display: flex;
  width: 100% !important;
  height: 100%;
  justify-content: space-around;
  margin: 13px 0px;
}

.leaflet-popup-content-wrapper {
  width: 100%;
  text-align: center;
}

/* close button */
.leaflet-container a.leaflet-popup-close-button {
  transition: all 0.2s;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: red;
  transform: scale(1.2);
}

.image-info {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.image-author {
  font-size: 0.7rem;
  padding: 0.1rem;
  color: #444;
}

.image-edit {
  width: 5rem;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.3rem;
  color: #b31217;
  border: 1px solid #b31217;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.image-edit:hover {
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b31217,
    #e52d27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b31217, #e52d27);
  color: #fff;
  outline: none;
  transition: all 0.05s;
  color: #fff;
  box-sizing: border-box;
}
