.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    width: 150px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 40px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -3px 0px 54px -9px rgba(12, 215, 167, 0.32);
-webkit-box-shadow: -3px 0px 54px -9px rgba(12, 215, 167, 0.32);
-moz-box-shadow: -3px 0px 54px -9px rgba(12, 215, 167, 0.32);;
    backdrop-filter: blur(4px);
}

.tool__icon{
    width: 100px;
    height: 100px;
}