.container{
    width: 100vw;
    height: 100vh;
    background-image: url("C:\Users\user1\Desktop\clean_it\clean_it\src\assets\bgImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.container__main__text {
    color: #ffffff;
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 0 30px;
    font-size: 2rem;
    background: linear-gradient(45deg, black, transparent);
    background: #085078;
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);
    background: linear-gradient(to right, #85D8CE, #085078);
}

.container__main__text-red{
    color: red;
}

/* transition */

/* .fade-enter{
    opacity: 0;
    transform: scale(0.9);
}
.fade-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit{
    opacity: 1;
}

.fade-exit-active{
    opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 0s;
} */